<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr</string>
	<key>CFBundleDisplayName</key>
	<string>MetaRay Recorder</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MetaRayRecorder</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>metarayrecorder</string>
			</array>
		</dict>
	</array>
	<key>MWDAT</key>
	<dict>
		<key>AppLinkURLScheme</key>
		<string>metarayrecorder://</string>
		<key>MetaAppID</key>
		<string></string>
		<key>ClientToken</key>
		<string></string>
		<key>TeamID</key>
		<string></string>
		<key>Analytics</key>
		<dict>
			<key>OptOut</key>
			<true/>
		</dict>
		<key>CrashReporting</key>
		<dict>
			<key>OptOut</key>
			<true/>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>external-accessory</string>
		<string>audio</string>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.meta.ar.wearable</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Relier vos Ray-Ban Meta et recevoir leur flux vidéo.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Communiquer avec vos Ray-Ban Meta.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Permettre les échanges locaux entre votre iPhone et vos lunettes.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_bonjour._tcp</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Enregistrer le son du microphone Bluetooth sélectionné dans vos vidéos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Ajouter à Photos les vidéos que vous choisissez d’exporter.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
